.cards {
  margin-top: 51px;
}

.card__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 17px;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.card__title {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-around;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  margin: 0;
  height: 79px;
}

.card__text {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
}

.card__like-button {
  background: transparent url(../images/light-heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
}
