.header {
  margin-top: 45px;
  max-width: 880px;
  height: 74px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  height: 33px;
  width: 137px;
}

@media screen and (max-width: 480px) {
  .header {
    height: 56px;
  }

  .header__logo {
    margin-left: 27px;
    height: 24px;
    width: 126px;
  }
}
