.card {
  position: relative;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  cursor: pointer;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  border-radius: 0 0 10px 10px;
  justify-content: space-between;
  align-items: center;
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  background: transparent url(../images/trash-icon.svg) center no-repeat;
  height: 18px;
  width: 19px;
  border: none;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 219px;
}

.card__like-button {
  background: transparent url(../images/heart-icon.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/heart-icon-active.svg);
}
