@import url(../vendor/fonts/fonts.css);
@import url(../blocks/profile.css);
@import url(../blocks/header.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 800px) {
  .page__section {
    max-width: 725px;
  }

  .header {
    overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  .page__section {
    max-width: 282px;
  }

  .header {
    overflow: hidden;
  }

  .profile {
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    font-weight: 500;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
  }

  .profile__add-button {
    width: 282px;
  }

  .profile {
    margin-top: 42px;
  }
}
